<div>
    <h1>Olvidaste tu contraseña</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <input type="submit" value="EnviarLink">
    </form>
</div>

<script src="/js/newPassword.js"></script>